/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 3rem 360px;
  max-width: 1200px;
  background-color: white;
}

.user-info {
  border-bottom: 2px solid #000;
}
.user-info .username {
  width: 264px;
  font: normal normal normal 80px/106px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.avatar {
  width: 324px;
  height: 324px;
  margin-top: 51px;
  margin-bottom: 55px;
}
.avatar img {
  background: transparent url("img/photo-1536180931879-fd2d652efddc.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.sub-title {
  margin-bottom: 4.5rem;
}
.sub-title .sub-container {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: solid 1px #000;
}
.sub-title .list-container ul {
  margin-bottom: 1.5rem;
}
.sub-title .list-container ul li {
  width: 792px;
  font: normal normal normal 24px/36px Noto Sans;
}
.sub-title .list-container .edu-career {
  margin-bottom: 1.5rem;
  font: normal normal normal 24px/36px Noto Sans;
}
.sub-title .work-experience {
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  font: normal normal normal 24px/36px Noto Sans;
  border-left: 1px solid #96a9c4;
}
.sub-title .work-experience li {
  margin: 0.5rem 0;
}
.sub-title .work-experience .li-1rem {
  margin-top: 1rem;
}
.sub-title .title-name {
  padding-top: 2px;
  font-size: 32px;
  font: normal normal normal 32px/43px Noto Sans;
}
.sub-title .eg-title-name {
  font: normal normal normal 24px/32px Roboto;
  font-size: 24px;
  color: #a00404;
  margin-left: 1rem;
}

.block-area {
  width: 100%;
  background-color: #415165;
  display: flex;
  justify-content: center;
}
.block-area .wrap {
  width: 996px;
}
.block-area .sub-title {
  padding: 1.5rem 0 0.5rem 0;
  min-width: 100%;
  border-bottom: solid #fff 1px;
  display: flex;
  justify-content: center;
}
.block-area .sub-title .title-name {
  color: #fff;
  font-size: 32px;
  font: normal normal medium 32px/45px PingFang TC;
}
.block-area .sub-title .eg-title-name {
  color: #fff;
  font-size: 24px;
  padding-top: 0.5rem;
  font: normal normal normal 24px/32px Roboto;
}
.block-area .skills-list {
  min-width: 100%;
  margin-bottom: 2.25rem;
}
.block-area .skills-list ul {
  margin-left: 386px;
  border-left: 1px solid #96a9c4;
}
.block-area .skills-list li {
  padding-left: 1.5rem;
  width: 192px;
  text-align: left;
  color: #fff;
  font: normal normal 300 24px/36px Roboto;
  line-height: 32px;
  margin-bottom: 1rem;
}
.block-area .skills-list .skills-chinese {
  margin-top: 3px;
  font: normal normal 300 24px/36px PingFang TC;
}
.block-area .contact-info-list {
  text-align: center;
  color: #fff;
  font: normal normal 300 24px/36px Roboto;
  margin-bottom: 2.25rem;
}
.block-area .contact-info-list li {
  margin-top: 1rem;
  line-height: 32px;
}
.block-area .contact-info-list .icon-ml1rem {
  margin-right: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
